*.iws
*.iml
*.ipr
*.sublime-workspace

*.log

.project
.classpath

.idea
*.zip
*.zip.sha1
*Db.properties
*Db.script
.settings
eclipse
target
/plugins

.DS_Store
cobertura.ser

/plugin.xml
/target
/target-eclipse
/web-app